body {
    font-family: Arial, sans-serif;
}

#map {
    margin: 20px 0;
    width: 600px;
    height: 400px;
}

canvas {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}

#controls {
    width: 90%;
    height: 400px;
    margin: 20px 0;
}